page-login {
    
    content{
        background-color: brown;
    }
    ion-item ion-input{
        width: 100%;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-style: outset;
        border-radius: 10px;
        margin-bottom: 1px; 
   }  

}

