.content{
    background-color: brown;
}
.input {
    width: 100%;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-style: outset;
    border-radius: 10px;
    margin-bottom: 1px; 
}  
.row{
  padding-left: 20px;
}
.error{
  text-align: center;

background-color: rgb(231, 158, 158);
color: red;
}
