
  <ion-card>
    <ion-card-header text-center> register form</ion-card-header>
    <ion-card-content >
      <form #login="ngForm">
      <ion-item >
  <ion-input placeholder="user name" 
   name="username" #username="ngModel"
   [(ngModel)]="user.email"


   required
   ></ion-input>
</ion-item>
<div *ngIf="username.invalid && username.dirty" class="error"  >
<span> user name is in valid</span>

</div>
<ion-item>
    <ion-input placeholder="password" type="password" 
    name="password" 
    [(ngModel)]="user.password"

     #password="ngModel"
     
     required
     pattern='[A-Za-z0-9]{6,20}$'
     ></ion-input>
  </ion-item>
  <div *ngIf="password.invalid && password.dirty" class="error"  >
    <span> password is in valid</span>
    </div>
</form>
</ion-card-content>
<ion-row>
  <button ion-button color="primary" (click)="register()"  [disabled]="login.invalid">register</button>

</ion-row>
</ion-card>